/*****Varijable i standardi*****/

$font:'Open Sans', sans-serif;
$blue:#01abb4;
$blue2:#7bd3f7;
$green:#aed137;
h2 {
  text-align: center;
  font-size: 4rem;
}

html{
  font-size: 10px;
  font-family: $font;
  color: $blue;
}

body{
  background:url("../images/logoBg.png") no-repeat center top 25rem ;
  background-size: 60%;
  font-family: $font;
}


/*****Header*****/

.countries{
  float:right;
  margin: .5rem;
}

.countries img{
width: 4rem;
}

.headerLogo {
float: left;
}

.headerLogo img {
  width: 12rem;
}

/*****Menu*****/

#nav{
    font-size: 1.4rem;
    font-family: $font;
    border: none;
    color: $blue;
    line-height: 2rem;
  }

.navbar{
  border: none;
}

#nav li li{
  padding: .3rem 0 .3rem 0;
}

#nav li li:nth-child(even){
  background-color: rgba(1, 171, 196, .05);
  border-top: 1rem black;
}

#myNavbar{
  border: none;
}

#menuButton{
  border:none;
    &:active{
    background-color: $green;
      &>.menuIcon{
        background-color: #fff;
}}}

.menuIcon{
  background-color: $blue;
  width: 3rem;
  height: .3rem;
}

#nav ul li, #nav ul a{
  color: $blue;
}

#nav a:hover {
  color: $green;
  background-color: transparent;
}

#nav ul a:active{
  background-color: #eee;
  color: #b5ff66;
}

#nav a:visited{
  color: $blue;
  background-color: transparent;
}

/*******************
****** Sadrzaj *****
*******************/

.bold{
  font-weight: bold;
  font-size: 1.5rem;
}

.form-control{
  background-color: rgba(255,255,255,0.2);
  &:focus{
    background-color: rgba(255,255,255,0.7);
  }}

#dataButton{
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  background-color: $blue;
}

#aboutCompany{
  padding: 2rem
}
/*******************
****** Forma *******
*******************/

#sendButton {
  float: right;
}

/*=============
Serifikati
=============*/
.headline {
  color:$blue;
  text-align: center;
  margin-bottom: 2rem;
}

.pdf{
  text-align: center;
  margin: 1rem 0 3rem 0;
  color: $blue2;
}

.pdf a:hover, .pdf a:active{
  box-shadow: none;
  color: $green;
}

/*******************
********dirt********
*******************/

#dirt{
  text-align: center;
  & p{
    font-size: 1.6rem;
    margin: 3rem 1rem;
  }
  & img{
    width: 90%;
    max-width: 40rem;
    margin: 3rem 0;
  }
}

/*******************
******gravel********
*******************/

#gravel{
  text-align: center;
  & p{
    font-size: 1.6rem;
    margin: 3rem 1rem;
  }
  & img{
    width: 90%;
    max-width: 40rem;
    margin: 3rem 0;
  }
  & figure{
    & img{
      margin: 3rem 0 0.5rem 0;
      max-width: 40rem;}
    & figcaption{
      font-size: 1.4rem;
      font-style: italic;
    }
  }
}


/*******************
****** Footer*******
*******************/
#footer{
  font-size: 1.3rem;
  padding: 3rem;
  margin-top: 2rem;
}

#footer a:link, #footer a:visited{
  color:$blue;
}
#footer a:active{
  color:$green;
  text-decoration: underline;
}

#footer a:hover{
  color:$green;
}

@media screen and (min-width:600px){
  .headerLogo img{
    width: 16rem;
  }

  .menuIcon{
    background-color: $blue;
    width: 3.5rem !important;
    height: .4rem !important;
  }

  .countries{
    margin: 1rem;
  }

  .countries img{
    width: 5rem;
  }

  /*******************
  ******Sadržaj*******
  *******************/
  .well{
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0;
    }

}

@media screen and (min-width:768px) {
  /*******************
  ******Sadržaj*******
  *******************/
  .well{
    margin: 3rem 0;
    font-size: 3rem;
  }
  #footer{
    padding: 0;
  }
}

@media (max-width: 991px) {

  /*******************
  **** Navigacija ****
  *******************/

  .navbar-header {
      float: none;
  }
  .navbar-toggle {
      display: block;
  }
  // .navbar-collapse {
  //     border-top: 1px solid transparent;
  //     box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  //   }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
  #nav ul ul{
    float: none;
    position: static;
  }
  .dropdown-menu{
    border: none;
    box-shadow: none;
    background-color: transparent;
  }
  .dropdown-menu>li>a{
    padding: .5rem 2rem;
  }
}




@media screen and (min-width:991px) {

  .headerLogo{
    margin:1rem 0 0 5rem;
  }

  #nav{
    font-size: 1.6rem;
  }

  .final {
    width: 100%;
  }

  #nav ul ul li{
    display: block!important;
    background-color: transparent!important;
  }

  #nav a:link, #nav a:visited, #nav a:focus{
    color:$blue;
    background-color: transparent;
  }

  #nav ul a:hover{
    color: $green;
  }

  #nav ul a:active{
    background-color: transparent;
  }

  .nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color: transparent;
  }

  .navbar-nav{
    width: 100%;
  }

  .dropdown-menu{
    border: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
    font-size: 1.6rem;
    }

  .nav li {
    display: inline-block!important;
    float: none!important;
  }

  // ul::after {
  //   width: 100%; display: inline-block;
  // }

  li {
    display: inline-block;
    float :none;
  }

  /*******************
  **** Sadrzaj ****
  *******************/


  .bold{
    font-weight: bold;
    font-size: 1.7rem;
    }

  #dataButton{
    height: 4.5rem;
    margin-bottom: 3rem;
    font-size: 1.8rem;
  }

  #aboutCompany{
    padding: 4rem;
    font-size: 1.6rem;
    }

    /*******************
    ****** Forma *******
    *******************/
      // .form-control{
      //     width: 60%;
      // }

  /*******************
********dirt********
*******************/

  #dirt{
    overflow: hidden;
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
    & h2{
      font-size: 4rem;
      margin: 3rem 0;
      padding-bottom: 4rem;
      border-bottom: .1rem solid rgba(0, 0, 0, .1);
    }
    & p{
      text-align: left;
      font-size: 2rem;
      padding-top: 7rem;
      line-height: 3rem;
      height: 40rem;
      margin: 0;
    }
    & .images {
      height: 40rem;
      margin: 0;
      & img{
        box-shadow: 3px 3px 4px rgba(0, 0, 0, .4);
      }
    }
  }

  /*******************
  ******gravel********
  *******************/

  #gravel {
    border-bottom: .1rem solid rgba(0, 0, 0, .1);
    overflow: hidden;
    & p{
      font-size: 2rem;
    }
    & img {
      box-shadow: 3px 3px 4px rgba(0, 0, 0, .4);
    }
    & h2 {
      font-size: 4rem;
      margin: 3rem 0;
      padding-bottom: 4rem;
      border-bottom: .1rem solid rgba(0, 0, 0, .1);
    }
    & .images {
      & img {
        margin: 3rem;
      }
    }
    & figure {
      width: 40%;
      display: inline-block;
    }
  }


    /*******************
    **** Footer ****
    *******************/


  #footer{
    font-size: 1.6rem;
  }
}


@media screen and (min-width:1200px) {
  #nav{
    font-size: 1.8rem;
  }
}
/*==============
    Lightbox
===============*/

.row {
  text-align: center;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close1 {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: $blue2;
  font-weight: bold;
  font-size: 4rem;
  transition: 600 ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
  width: 90%;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 300;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
