- var message = ["Poruka", "Message", "Nachricht", "信息"]


.form-group
  case lang
    when "Srb"
      label(for = "message") #{message[0]}
      textarea#message.form-control(placeholder = "#{message[0]}" rows = '6')
    when "Eng"
      label(for = "message") #{message[1]}
      textarea#message.form-control(placeholder = "#{message[1]}" rows = '6')
    when "Ger"
      label(for = "message") #{message[2]}
      textarea#message.form-control(placeholder = "#{message[2]}" rows = '6')
    when "Chn"
      label(for = "message") #{message[3]}
      textarea#message.form-control(placeholder = "#{message[3]}" rows = '6')
