case lang
  when "Srb"
    a.headerLogo(href="index.html")
      img.img-responsive(src="images/logo.png" alt="logo")
  default
    a.headerLogo(href="index.html")
      img(src="../images/logo.png" alt="logo")
    
