script(src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
script(src = "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

case jezik
  when "Srb"
    script(src = "js/LinkSrb.js")
    script(src = "js/milos.js")
  when "Eng"
    script(src = "../js/LinkEng.js")
    script(src = "../js/milos.js")
  when "Ger"
    script(src = "../js/LinkGer.js")
    script(src = "../js/milos.js")
  when "Chn"
    script(src = "../js/LinkChn.js")
    script(src = "../js/milos.js")
