#content.container
    case lang
        when "Srb"
            h1.headline Sertifikati
            .row
                .col-sm-3
                    .imgpdf
                        img.hover-shadow(src="images/certificates/img1.jpg" onclick="openModal();currentSlide(1)")
                    .pdf
                        a.hover-shadow(href="images/certificates/Sertifikat1.pdf" target="blank") Sertifikat 1.pdf
                .col-sm-3
                    .imgpdf
                        img.hover-shadow(src="images/certificates/img2.jpg" onclick="openModal();currentSlide(1)")
                    .pdf
                        a.hover-shadow(href="images/certificates/Sertifikat2.pdf" target="blank") Sertifikat 2.pdf
                .col-sm-3
                    .imgpdf
                        img.hover-shadow(src="images/certificates/img3.jpg" onclick="openModal();currentSlide(3)")
                    .pdf
                        a.hover-shadow(href="images/certificates/Sertifikat3.pdf" target="blank") Sertifikat 3.pdf
                .col-sm-3
                    .imgpdf
                        img.hover-shadow(src="images/certificates/img4.jpg" onclick="openModal();currentSlide(4)")
                    .pdf
                        a.hover-shadow(href="images/certificates/Sertifikat4.pdf" target="blank") Sertifikat 4.pdf

            #myModal.modal
                span.close1.cursor(onclick="closeModal()") &times;
                .modal-content
                    .mySlides
                        .numbertext 1 / 4
                        img(src="images/certificates/certificate1.jpg" style="width:100%")
                    .mySlides
                        .numbertext 2 / 4
                        img(src="images/certificates/certificate2.jpg" style="width:100%")
                    .mySlides
                        .numbertext 3 / 4
                        img(src="images/certificates/certificate3.jpg" style="width:100%")
                    .mySlides
                        .numbertext 4 / 4
                        img(src="images/certificates/certificate4.jpg" style="width:100%")

                    a.prev(onclick="plusSlides(-1)") &#10094;
                    a.next(onclick="plusSlides(1)") &#10095;

                    .caption-container
                        p#caption
                    .column
                        img.demo(src="images/certificates/img1.jpg" onclick="currentSlide(1)" alt="Sertifikat 1")
                    .column
                        img.demo(src="images/certificates/img2.jpg" onclick="currentSlide(2)" alt="Sertifikat 2")
                    .column
                        img.demo(src="images/certificates/img3.jpg" onclick="currentSlide(3)" alt="Sertifikat 3")
                    .column
                        img.demo(src="images/certificates/img4.jpg" onclick="currentSlide(4)" alt="Sertifikat 4")

        when "Eng"
            h1.headline Certificates
            .row
                .col-sm-3
                    .imgpdf
                        img.hover-shadow(src="../images/certificates/img1.jpg" onclick="openModal();currentSlide(1)")
                    .pdf
                        a.hover-shadow(href="../images/certificates/Sertifikat1.pdf" target="blank") Certificate 1.pdf
                .col-sm-3
                    .imgpdf
                        img.hover-shadow(src="../images/certificates/img2.jpg" onclick="openModal();currentSlide(1)")
                    .pdf
                        a.hover-shadow(href="../images/certificates/Sertifikat2.pdf" target="blank") Certificate 2.pdf
                .col-sm-3
                    .imgpdf
                        img.hover-shadow(src="../images/certificates/img3.jpg" onclick="openModal();currentSlide(3)")
                    .pdf
                        a.hover-shadow(href="../images/certificates/Sertifikat3.pdf" target="blank") Certificate 3.pdf
                .col-sm-3
                    .imgpdf
                        img.hover-shadow(src="../images/certificates/img4.jpg" onclick="openModal();currentSlide(4)")
                    .pdf
                        a.hover-shadow(href="../images/certificates/Sertifikat4.pdf" target="blank") Certificate 4.pdf

            #myModal.modal
                span.close1.cursor(onclick="closeModal()") &times;
                .modal-content
                    .mySlides
                        .numbertext 1 / 4
                        img(src="../images/certificates/certificate1.jpg" style="width:100%")
                    .mySlides
                        .numbertext 2 / 4
                        img(src="../images/certificates/certificate2.jpg" style="width:100%")
                    .mySlides
                        .numbertext 3 / 4
                        img(src="../images/certificates/certificate3.jpg" style="width:100%")
                    .mySlides
                        .numbertext 4 / 4
                        img(src="../images/certificates/certificate4.jpg" style="width:100%")

                    a.prev(onclick="plusSlides(-1)") &#10094;
                    a.next(onclick="plusSlides(1)") &#10095;

                    .caption-container
                        p#caption
                    .column
                        img.demo(src="../images/certificates/img1.jpg" onclick="currentSlide(1)" alt="Certificate 1")
                    .column
                        img.demo(src="../images/certificates/img2.jpg" onclick="currentSlide(2)" alt="Certificate 2")
                    .column
                        img.demo(src="../images/certificates/img3.jpg" onclick="currentSlide(3)" alt="Certificate 3")
                    .column
                        img.demo(src="../images/certificates/img4.jpg" onclick="currentSlide(4)" alt="Certificate 4")
        when "Ger"
            h1.headline Zertifikate
            .row
                .col-sm-3
                    .imgpdf
                        img.hover-shadow(src="../images/certificates/img1.jpg" onclick="openModal();currentSlide(1)")
                    .pdf
                        a.hover-shadow(href="../images/certificates/Sertifikat1.pdf" target="blank") Zertifikat 1.pdf
                .col-sm-3
                    .imgpdf
                        img.hover-shadow(src="../images/certificates/img2.jpg" onclick="openModal();currentSlide(1)")
                    .pdf
                        a.hover-shadow(href="../images/certificates/Sertifikat2.pdf" target="blank") Zertifikat 2.pdf
                .col-sm-3
                    .imgpdf
                        img.hover-shadow(src="../images/certificates/img3.jpg" onclick="openModal();currentSlide(3)")
                    .pdf
                        a.hover-shadow(href="../images/certificates/Sertifikat3.pdf" target="blank") Zertifikat 3.pdf
                .col-sm-3
                    .imgpdf
                        img.hover-shadow(src="../images/certificates/img4.jpg" onclick="openModal();currentSlide(4)")
                    .pdf
                        a.hover-shadow(href="../images/certificates/Sertifikat4.pdf" target="blank") Zertifikat 4.pdf

            #myModal.modal
                span.close1.cursor(onclick="closeModal()") &times;
                .modal-content
                    .mySlides
                        .numbertext 1 / 4
                        img(src="../images/certificates/certificate1.jpg" style="width:100%")
                    .mySlides
                        .numbertext 2 / 4
                        img(src="../images/certificates/certificate2.jpg" style="width:100%")
                    .mySlides
                        .numbertext 3 / 4
                        img(src="../images/certificates/certificate3.jpg" style="width:100%")
                    .mySlides
                        .numbertext 4 / 4
                        img(src="../images/certificates/certificate4.jpg" style="width:100%")

                    a.prev(onclick="plusSlides(-1)") &#10094;
                    a.next(onclick="plusSlides(1)") &#10095;

                    .caption-container
                        p#caption
                    .column
                        img.demo(src="../images/certificates/img1.jpg" onclick="currentSlide(1)" alt="Zertifikat 1")
                    .column
                        img.demo(src="../images/certificates/img2.jpg" onclick="currentSlide(2)" alt="Zertifikat 2")
                    .column
                        img.demo(src="../images/certificates/img3.jpg" onclick="currentSlide(3)" alt="Zertifikat 3")
                    .column
                        img.demo(src="../images/certificates/img4.jpg" onclick="currentSlide(4)" alt="Zertifikat 4")
        when "Chn"
            h1.headline 证书
            .row
                .col-sm-3
                    .imgpdf
                        img.hover-shadow(src="../images/certificates/img1.jpg" onclick="openModal();currentSlide(1)")
                    .pdf
                        a.hover-shadow(href="../images/certificates/Sertifikat1.pdf" target="blank") 证书 1.pdf
                .col-sm-3
                    .imgpdf
                        img.hover-shadow(src="../images/certificates/img2.jpg" onclick="openModal();currentSlide(1)")
                    .pdf
                        a.hover-shadow(href="../images/certificates/Sertifikat2.pdf" target="blank") 证书 2.pdf
                .col-sm-3
                    .imgpdf
                        img.hover-shadow(src="../images/certificates/img3.jpg" onclick="openModal();currentSlide(3)")
                    .pdf
                        a.hover-shadow(href="../images/certificates/Sertifikat3.pdf" target="blank") 证书 3.pdf
                .col-sm-3
                    .imgpdf
                        img.hover-shadow(src="../images/certificates/img4.jpg" onclick="openModal();currentSlide(4)")
                    .pdf
                        a.hover-shadow(href="../images/certificates/Sertifikat4.pdf" target="blank") 证书 4.pdf

            #myModal.modal
                span.close1.cursor(onclick="closeModal()") &times;
                .modal-content
                    .mySlides
                        .numbertext 1 / 4
                        img(src="../images/certificates/certificate1.jpg" style="width:100%")
                    .mySlides
                        .numbertext 2 / 4
                        img(src="../images/certificates/certificate2.jpg" style="width:100%")
                    .mySlides
                        .numbertext 3 / 4
                        img(src="../images/certificates/certificate3.jpg" style="width:100%")
                    .mySlides
                        .numbertext 4 / 4
                        img(src="../images/certificates/certificate4.jpg" style="width:100%")

                    a.prev(onclick="plusSlides(-1)") &#10094;
                    a.next(onclick="plusSlides(1)") &#10095;

                    .caption-container
                        p#caption
                    .column
                        img.demo(src="../images/certificates/img1.jpg" onclick="currentSlide(1)" alt="证书 1")
                    .column
                        img.demo(src="../images/certificates/img2.jpg" onclick="currentSlide(2)" alt="证书 2")
                    .column
                        img.demo(src="../images/certificates/img3.jpg" onclick="currentSlide(3)" alt="证书 3")
                    .column
                        img.demo(src="../images/certificates/img4.jpg" onclick="currentSlide(4)" alt="证书 4")