- var lang = "Eng"
doctype html
html(lang="en")
    head
      case lang
        when "Srb"
          include includes/head
        default
          include ../includes/head
      title PDV inženjering
    body
      #wrapper
        //- header
        header#header.container-fluid
            case lang
              when "Srb"
                include includes/flags
              default
                include ../includes/flags
            case lang
              when "Srb"
                include includes/logo
              default
                include ../includes/logo
        //- Menu
        case lang
          when "Srb"
            include includes/menu/menu
          default
            include ../includes/menu/menu
        //- Sadržaj
        case lang
          when "Srb"
            include includes/pages/Onama/certificates
          default
            include ../includes/pages/Onama/certificates
        //- Footer
        case lang
          when "Srb"
            include includes/footer
          default
            include ../includes/footer
        //- Skripte
        #script
          case lang
            when "Srb"
              include includes/skripts
            default
              include ../includes/skripts
        
