- var input = ["name", "text", "email"]
- var labelSrb = ["Ime", "Firma", "e-mail"]
- var labelEng = ["Name", "Company", "e-mail"]
- var labelGer = ["Name", "Unternehmen", "e-mail"]
- var labelChn = ["姓名", "公司", "邮箱"]

form#kontakt(method = "post" action = "sendmail.php" name = "Kontakt")
  case jezik  
    when "Srb"
      each val, index in input
        .form-group
          label(for = labelSrb[index]) #{labelSrb[index]}:
          input.form-control(id = input[index] type = input[index] name = input[index] placeholder = labelSrb[index] required)
      include textarea
    when "Eng"
      each val, index in input
        .form-group
          label(for = labelSrb[index]) #{labelEng[index]}:
          input.form-control(id = input[index] type = input[index] name = input[index] placeholder = labelEng[index] required)
      include textarea
    when "Ger"
      each val, index in input
        .form-group
          label(for = labelSrb[index]) #{labelGer[index]}:
          input.form-control(id = input[index] type = input[index] name = input[index] placeholder = labelGer[index] required)
      include textarea
    when "Chn"
      each val, index in input
          label(for = labelSrb[index]) #{labelChn[index]}:
          input.form-control(id = input[index] type = input[index] name = input[index] placeholder = labelChn[index] required)
      include textarea
  case jezik  
    when "Srb"
      input#dugmePosalji.btn.btn-info(type = "submit" value = "Pošalji")
    when "Eng"
      input#dugmePosalji.btn.btn-info(type = "submit" value = "Send")
    when "Ger"
      input#dugmePosalji.btn.btn-info(type = "submit" value = "Senden")
    when "Chn"
      input#dugmePosalji.btn.btn-info(type = "submit" value = "发送")
