
<div class="container">
  <button id="dugmePodaci" type="button" data-toggle="collapse" data-target="#podaciOfirmi" class="btn btn-info btn-block">Detaljni podaci o firmi <span class = "caret"></span></button>
  <div id="podaciOfirmi" class="collapse"> 
    <p class="bold">PDV INŽENJERING D.O.O. BEOGRAD</p>
    <p class="bold">Puno poslovno ime:</p>
    <p>Društvo za inženjering proizvodnju projektovanje izvođenje mašinskih i građevinskih radova trgovinu i usluge PDV INŽENJERING DOO BEOGRAD-BOLEČ</p>
    <p class="bold">Skraćeno poslovno ime:</p>
    <p>PDV INŽENJERING DOO BEOGRAD</p>
    <p class="bold">Sedište:</p>
    <p>Dvadesetdrugog Decembra 27, 11307 Beograd, Srbija</p>
    <p class="bold">Opis delatnosti:</p>
    <p>Inženjerske delatnosti i tehničko savetovanje</p>
    <p class="bold">Šifra delatnosti:</p>
    <p>7112</p>
    <p class="bold">Matični broj:</p>
    <p>21105309</p>
    <p class="bold">Obveznik PDV-a:</p>
    <p>Da</p>
    <p class="bold">Poreski identifikacioni broj (PIB):</p>
    <p>108982282</p>
    <p class="bold">Tekući računi:</p>
    <p>Banca Intesa A.D.: 160-428797-02</p>
    <p>Banca Intesa A.D.: 00-539-1879.3 - devizni (EUR)</p>
  </div>
  <form id="contact" method="post" action="sendmail.php" name="Kontakt">
  </form>
</div>