- var strelica = "<span class = 'caret'></span>"

- var dataDetails = ["Detaljni podaci o firmi"]

.container  
  button#dataButton.btn.btn-info.btn-block(type="button" data-toggle="collapse" data-target = "#aboutCompany") #{dataDetails[0]} !{strelica}
  #aboutCompany.collapse 
    p.bold PDV INŽENJERING D.O.O. VALJEVO-POPUČKE
    p.bold Puno poslovno ime:
    p Društvo za inženjering proizvodnju projektovanje izvođenje mašinskih i građevinskih radova, trgovinu i usluge PDV INŽENJERING DOO VALJEVO-POPUČKE
    p.bold Skraćeno poslovno ime:
    p PDV INŽENJERING DOO VALJEVO-POPUČKE
    p.bold Sedište:
    p Popučke bb, 14221 Valjevo, Srbija
    p.bold Opis delatnosti:
    p Inženjerske delatnosti i tehničko savetovanje
    p.bold Šifra delatnosti:
    p 7112
    p.bold Matični broj:
    p 21105309
    p.bold Obveznik PDV-a:
    p Da
    p.bold Poreski identifikacioni broj (PIB):
    p 108982282
    p.bold Tekući računi:
    p Banca Intesa A.D.: 160-0000000428797-02
    p Banca Intesa A.D.: 160-0053900018793-27 - devizni (EUR)
  include forma
    
