.navbar-header
  button.navbar-toggle.collapsed#MenuDugme(type="button" data-toggle="collapse" data-target="#myNavbar")
    span.icon-bar#menuIkonica
    span.icon-bar#menuIkonica
    span.icon-bar#menuIkonica
  //a.navbar-brand(href="index.html") PDV inženjerng
