- var titleSrb = "Humus"

- var pathSrb = "images/products/dirt/"

- var textSrb1 = "U ponudi PDV inženjeringa može se naći visoko kvalitetno humusno zemljište. Ovo zemljište  je dobro obezbeđeno lako pristupačnim fosforom i kalijumom i op svojoj ph vrednosti je neutralno sto ga čini idealnim za korišćenje u baštama i voćnjacima."
- var img1 = "dirt1.jpg"
- var textSrb2 = "U industriji ovo zemljište se koristiti kao podloga za proizvodnju u različitim glistenicima ili kao baza za razne mešavine 7 prema 3 za baštensku proizvodnju i 9 prema 1 za voćarstvo i uzgoj cveća takođe nalazi široku primenu u rasadničkoj proizvodnji biljnih kultura."
//- var img2 = "dirt2.jpg"
- var img3 = "dirt3.jpg"
- var textSrb3 = "U građevinarstvu ovakav tip zemljišta je pogodan kako za nasipanje tako i za formiranje zelenih površina"
- var img4 = "dirt7.jpg"
- var textSrb4 = "Humusno zemljište koje vam nudi PDV inženjering  koristi se i u sistemima intenzivnog plasteničkog i stakleničkog uzgoja kao dopuna bazičnom zemljištu ili kao samo bazično zemljište."
- var img5 = "dirt5.jpg"
- var img6 = "dirt6.jpg"

-var content = [{p:textSrb1}, {images:[{img:img1}]}, {images:[{img:img3}]}, {p:textSrb2}, {p:textSrb4}, {images:[{img:img6}]}, {images:[{img:img4}]}, {p:textSrb3}]

#content.container
    #dirt
        h2 #{titleSrb}
        case lang
            when "Srb"
                each i in content
                    if i.p
                        p.col-md-6 #{i.p}
                    else if i.images
                        .images.col-xs-12.col-md-6
                            each el in i.images
                                img(src = pathSrb + el.img alt = titleSrb)
                    else if i.caption
                        figure.figure
                            each e in i.caption
                                if e.img
                                    img(src = pathSrb + e.img alt = titleSrb)
                                else if e.capt
                                    figcaption.figure-caption #{e.capt}
