case lang
    when "Srb"
        each i in content
            if i.p
                p.col-md-6 #{i.p}
            else if i.images
                .images.col-xs-12.col-md-6
                    each el in i.images
                        img(src = pathSrb + el.img alt = titleSrb)
            else if i.caption
                figure.figure
                    each e in i.caption
                        if e.img
                            img(src = pathSrb + e.img alt = titleSrb)
                        else if e.capt
                            figcaption.figure-caption #{e.capt}
