- var titleSrb = "Šljunak"

- var pathSrb = "images/products/gravel/"

- var textSrb1 = "U ponudi PDV inženjeringa mogu se naći agregati različitih namena a među njima prvenstveno treba istaći \"Moravski\’’ šljunak koji po svojim svojsvima i karakteristikama zadovoljava najviše standarde u građevinarstvu."
- var textSrb2 = "Šljunak je sedimentna stena koja se sastoji od nevezanih zrna veličine od 2mm do 75mm. Šljunak se prema svojoj nameni deli u pet kategorija a samim tim odvaje (separisanje) se vrši na sledeće grupe:"
- var img1 = "gravel1.jpg"
- var capt1 = "Separacija 1: 0 do 4 mm (pesak)"
- var img2 = "gravel2.jpg"
- var capt2 = "Separacija 2: 4 do 8 mm"
- var img3 = "gravel3.jpg"
- var capt3 = "Separacija 3: 8 do 16 mm"
- var img4 = "gravel4.jpg"
- var capt4 = "Separacija 4: 16 do 32 mm"
- var img5 = "gravel5.jpg"
- var capt5 = "Separacija 5: dijametra preko 32 mm (iberlauf)"
- var textSrb3 = 'Nakon pranja tek iskopan  šljunak se neformalno naziva „prirodni šljunak“.'
- var textSrb4 = "Sve pomenute grupe se nalaze u ponudi PDV inženjeringa tako da vam možemo garantovati kontiuniranu isporuku a sam kvalitet naših agregata omogućava primenu od nasipanja za pripremu gornjeg stroja trotoara i kolovoza do izrade betona visokih čvrstoća za hale i mostove."
- var img6 = "gravel6.jpg"
- var img7 = "gravel7.jpg"

- var content = [{p:textSrb1}, {p:textSrb2}, {caption:[{img:img1}, {capt:capt1}]}, {caption:[{img:img2}, {capt:capt2}]}, {caption:[{img:img3}, {capt:capt3}]}, {caption:[{img:img4}, {capt:capt4}]}, {caption:[{img:img5}, {capt:capt5}]}, {p:textSrb3}, {p:textSrb4}, {images:[{img:img6}, {img:img7}]}]

#content.container
    #gravel
        h2 #{titleSrb}
        case lang
            when "Srb"
                each i in content
                    if i.p
                        p #{i.p}
                    else if i.images
                        .images.col-xs-12
                            each el in i.images
                                img(src = pathSrb + el.img alt = titleSrb)
                    else if i.caption
                        figure.figure
                            each e in i.caption
                                if e.img
                                    img(src = pathSrb + e.img alt = titleSrb)
                                else if e.capt
                                    figcaption.figure-caption #{e.capt}
