.navbar-header
  button.navbar-toggle.collapsed#MenuDugme(type="button" data-toggle="collapse" data-target="#myNavbar")
    - for(var i = 0; i<3; i++)
        span.icon-bar.menuIkonica
    
  //a.navbar-brand(href="index.html") PDV inženjerng
