case lang
  when "Srb"
    a.countries(href="eng")
        img(src='images/gbr.jpg' alt='Engleski' title="English")
    a.countries(href='ger')
        img(src='images/ger.jpg' alt='Deutsch' title='Deutsch')
    a.countries(href='chn')
        img(src='images/chn.jpg' alt="Chinese" title='中文')
  when "Eng"
    a.countries(href='srb')
        img(src='../images/srb.jpg.' alt='Srpski' title="Srpski")
    a.countries(href='ger')
        img(src='../images/ger.jpg' alt='Deutsch' title='Deutsch')
    a.countries(href='chn')
        img(src='../images/chn.jpg' alt="Chinese" title='中文')
  when "Ger"
    a.countries(href='srb')
        img(src='../images/srb.jpg' alt='Srpski' title='Srpski')
    a.countries(href='eng')
        img(src='../images/gbr.jpg' alt='Engleski' title="English")
    a.countries(href='chn')
        img(src='../images/chn.jpg' alt="Chinese" title='中文')
  when "Chn"
    a.countries(href='srb')
        img(src='../images/srb.jpg' alt='Srpski' title='Srpski')
    a.countries(href='eng')
        img(src='../images/gbr.jpg' alt='Engleski' title="English")
    a.countries(href='ger')
        img(src='../images/ger.jpg' alt="Deutsch" title='Deutsch')
