-var icoTelSrb = '<img src="images/tel.png" alt = "telefon">'
-var icoTelDef = '<img src="../images/tel.png" alt = "telefon">'
-var icoMailSrb = '<img src="images/mail.png" alt = "e-mail">'
-var icoMailDef = '<img src="../images/mail.png" alt = "e-mail">'

-var tel1 = "+381 60 313 2565"
-var tel2 = "+381 60 313 2575"
-var mail1 = '<a href="mailto:office@pdvinzenjering.rs" target="_top">office@pdvinzenjering.rs</a>'
-var mail2 = '<a href="mailto:komercijala@pdvinzenjering.rs" target="_top">komercijala@pdvinzenjering.rs</a>'
-var mail3 = '<a href="mailto:proizvodnja@pdvinzenjering.rs" target="_top">proizvodnja@pdvinzenjering.rs</a>'
-var mail4 = '<a href="mailto:operativa@pdvinzenjering.rs" target="_top">operativa@pdvinzenjering.rs</a>'


case lang
    when "Srb"
      footer#footer.container
          .col-sm-4
            p !{icoTelSrb} #{tel1}
            p !{icoTelSrb} #{tel2}
          .col-sm-4
            p !{icoMailSrb} !{mail1}
            p !{icoMailSrb} !{mail2}
          .col-sm-4
            p !{icoMailSrb} !{mail3}
            p !{icoMailSrb} !{mail4}
    default
      footer#footer.container
        .col-sm-4
          p !{icoTelDef} #{tel1}
          p !{icoTelDef} #{tel2}
        .col-sm-4
          p !{icoMailDef} !{mail1}
          p !{icoMailDef} !{mail2}
        .col-sm-4
          p !{icoMailDef} !{mail3}
          p !{icoMailDef} !{mail4}
