// charset
meta(charset="utf-8")

// responsive
meta(content='width=device-width' initial-scale='1.0' name='viewport')

// font
link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css')

case lang
    when "Srb"
        // ikonica
        link(href='images/logo.png' rel='icon' type='image.ico')
        //  css
        link(rel="stylesheet" href="css/normalize.css" type="text/css")
        link(rel="stylesheet" href="css/bootstrap.min.css" type="text/css")
        link(rel="stylesheet" href="css/style.css" type="text/css")
    default
        link(href='../images/logo.png' rel='icon' type='image.ico')
        //  css
        link(rel="stylesheet" href="../css/normalize.css" type="text/css")
        link(rel="stylesheet" href="../css/bootstrap.min.css" type="text/css")
        link(rel="stylesheet" href="../css/style.css" type="text/css")
