- var podaci = ["Detaljni podaci o firmi"]

.container  
  button#dataButton.btn.btn-info.btn-block(type="button" data-toggle="collapse" data-target = "#aboutCompany") #{podaci[0]} <span class = "caret"></span>
  #aboutCompany.collapse 
    p.bold PDV INŽENJERING D.O.O. BEOGRAD
    p.bold Puno poslovno ime:
    p Društvo za inženjering proizvodnju projektovanje izvođenje mašinskih i građevinskih radova trgovinu i usluge PDV INŽENJERING DOO BEOGRAD-BOLEČ
    p.bold Skraćeno poslovno ime:
    p PDV INŽENJERING DOO BEOGRAD
    p.bold Sedište:
    p Dvadesetdrugog Decembra 27, 11307 Beograd, Srbija
    p.bold Opis delatnosti:
    p Inženjerske delatnosti i tehničko savetovanje
    p.bold Šifra delatnosti:
    p 7112
    p.bold Matični broj:
    p 21105309
    p.bold Obveznik PDV-a:
    p Da
    p.bold Poreski identifikacioni broj (PIB):
    p 108982282
    p.bold Tekući računi:
    p Banca Intesa A.D.: 160-428797-02
    p Banca Intesa A.D.: 00-539-1879.3 - devizni (EUR)
  include forma
