- var srb_Menu = ["Početna", "O nama", "Vesti", "Usluge", "Proizvodi", "Reference", "Fotogalerija", "Kontakt"]
- var srb_oNama = ["Delatnost", "Kadrovski resursi", "Tehnička opremljenost"]
- var srb_Usluge = ["Inženjering", "Projektovanje", "Nadzor", "Tehnički prijem objekata", "Metalne konstrukcije", "Cevovodi", "Bravarsko zavarivački radovi","Grubi građevinski radovi", "Završni radovi u građevinarstvu", "Termoizolaterski radovi", "Skelarski radovi", "Antikorozivna zaštita"]
- var srb_Proizvodi = ["Metalne konstrukcije"]

- var eng_Menu = ["Home", "About us", "News", "Services", "Products", "References", "Photo gallery", "Contact"]
- var eng_oNama = ["Activity","Human resources","Technical equipment"]
- var eng_Usluge = ["Engineering","Design","Supervision","Tehnical reception of facilities","Metal structures","Pipelines","Mounting and welding","Building construction","Finishing services","Thermal Insulation","Scaffolding","Corrosion protection"]
- var eng_Proizvodi = ["Metal structures"]

- var ger_Menu = ["Home","Über uns","News","Dienstleistungen","Products","Informationsquellen", "Fotogalerie","Kontakt"]
- var ger_oNama = ["Activity","Humanressourcen","Technische anlagen"]
- var ger_Usluge = ["Engineering","Design","Überwachung","Technische empfang information","Metal structures","Pipelines","Schlosser und schweißarbeiten","Bau von gebäuden","Zurichtung","Wärmedämmung works","Gerüste","Korrosionsschutz"]
- var ger_Proizvodi = ["Metal structures"]

- var chn_Menu = ["主页","关于我们", "新闻中心", "服务", "产品", "参考", "照相馆", "联系方式"]
- var chn_oNama = ["活动","人力资源","设备"]
- var chn_Usluge = ["工程","设计","监理","设施技术验收","金属结构","管线","安装与焊接","建筑施工","整理服务","保温","脚手架","防腐蚀"]
- var chn_Proizvodi = ["金属结构"]

- var strelica = "<span class = 'caret'></span>"


nav#nav.navbar
  include button_menu
  #myNavbar.collapse.navbar-collapse
    ul.nav.navbar-nav.text-justify
      case jezik
        when "Srb"
          li: a(href="index.html" title=srb_Menu[0]) #{srb_Menu[0]}
          li.dropdown
            a.dropdown-toggle(href="01.html" data-toggle="dropdown" title=srb_Menu[1]) #{srb_Menu[1]} !{strelica}
            ul.dropdown-menu
              each val, index in srb_oNama
                li
                  a(href="01_" + index + ".html" title=val)=val
          li: a(href="02.html" title=srb_Menu[2]) #{srb_Menu[2]}
          li.dropdown: a.dropdown-toggle(href="03.html" data-toggle="dropdown" title=srb_Menu[3]) #{srb_Menu[3]} !{strelica}
            ul.dropdown-menu
              each val, index in srb_Usluge
                li
                  a(href="03_" + index + ".html" title=val)=val
          li.dropdown: a.dropdown-toggle(href="04.html" data-toggle="dropdown" title=srb_Menu[4]) #{srb_Menu[4]} !{strelica}
            ul.dropdown-menu
              each val, index in srb_Proizvodi
                li
                  a(href="04_" + index + ".html" title=val)=val
          li: a(href="05.html" title=srb_Menu[5]) #{srb_Menu[5]}
          li: a(href="06.html" title=srb_Menu[6]) #{srb_Menu[6]}
          li: a(href="07.html" title=srb_Menu[7]) #{srb_Menu[7]}
          li.kontrolni
        when "Eng"
          li: a(href="index.html" title=eng_Menu[0]) #{eng_Menu[0]}
          li.dropdown
            a.dropdown-toggle(href="01.html" data-toggle="dropdown" title=eng_Menu[1]) #{eng_Menu[1]} !{strelica}
            ul.dropdown-menu
              each val, index in eng_oNama
                li
                  a(href="01_" + index + ".html" title=val)=val
          li: a(href="02.html" title=eng_Menu[2]) #{eng_Menu[2]}
          li.dropdown: a.dropdown-toggle(href="03.html" data-toggle="dropdown" title=eng_Menu[3]) #{eng_Menu[3]} !{strelica}
            ul.dropdown-menu
              each val, index in eng_Usluge
                li
                  a(href="03_" + index + ".html" title=val)=val
          li.dropdown: a.dropdown-toggle(href="04.html" data-toggle="dropdown" title=eng_Menu[4]) #{eng_Menu[4]} !{strelica}
            ul.dropdown-menu
              each val, index in eng_Proizvodi
                li
                  a(href="04_" + index + ".html" title=val)=val
          li: a(href="05.html" title=eng_Menu[5]) #{eng_Menu[5]}
          li: a(href="06.html" title=eng_Menu[6]) #{eng_Menu[6]}
          li: a(href="07.html" title=eng_Menu[7]) #{eng_Menu[7]}
            li.kontrolni
        when "Ger"
          li: a(href="index.html" title=ger_Menu[0]) #{ger_Menu[0]}
          li.dropdown
            a.dropdown-toggle(href="01.html" data-toggle="dropdown" title=ger_Menu[1]) #{ger_Menu[1]} !{strelica}
            ul.dropdown-menu
              each val, index in ger_oNama
                li
                  a(href="01_" + index + ".html" title=val)=val
          li: a(href="02.html" title=ger_Menu[2]) #{ger_Menu[2]}
          li.dropdown: a.dropdown-toggle(href="03.html" data-toggle="dropdown" title=ger_Menu[3]) #{ger_Menu[3]} !{strelica}
            ul.dropdown-menu
              each val, index in ger_Usluge
                li
                  a(href="03_" + index + ".html" title=val)=val
          li.dropdown: a.dropdown-toggle(href="04.html" data-toggle="dropdown" title=ger_Menu[4]) #{ger_Menu[4]} !{strelica}
            ul.dropdown-menu
              each val, index in ger_Proizvodi
                li
                  a(href="04_" + index + ".html" title=val)=val
          li: a(href="05.html" title=ger_Menu[5]) #{ger_Menu[5]}
          li: a(href="06.html" title=ger_Menu[6]) #{ger_Menu[6]}
          li: a(href="07.html" title=ger_Menu[7]) #{ger_Menu[7]}
          li.kontrolni
        when "Chn"
          li: a(href="index.html" title=chn_Menu[0]) #{chn_Menu[0]}
          li.dropdown
            a.dropdown-toggle(href="01.html" data-toggle="dropdown" title=chn_Menu[1]) #{chn_Menu[1]} !{strelica}
            ul.dropdown-menu
              each val, index in chn_oNama
                li
                  a(href="01_" + index + ".html" title=val)=val
          li: a(href="02.html" title=chn_Menu[2]) #{chn_Menu[2]}
          li.dropdown: a.dropdown-toggle(href="03.html" data-toggle="dropdown" title=chn_Menu[3]) #{chn_Menu[3]} !{strelica}
            ul.dropdown-menu
              each val, index in chn_Usluge
                li
                  a(href="03_" + index + ".html" title=val)=val
          li.dropdown: a.dropdown-toggle(href="04.html" data-toggle="dropdown" title=chn_Menu[4]) #{chn_Menu[4]} !{strelica}
            ul.dropdown-menu
              each val, index in chn_Proizvodi
                li
                  a(href="04_" + index + ".html" title=val)=val
          li: a(href="05.html" title=chn_Menu[5]) #{chn_Menu[5]}
          li: a(href="06.html" title=chn_Menu[6]) #{chn_Menu[6]}
          li: a(href="07.html" title=chn_Menu[7]) #{chn_Menu[7]}
          li.kontrolni
