- var poruka = ["Poruka", "Message", "Nachricht", "信息"]


.form-group
  case jezik
    when "Srb"
      label(for = "poruka") #{poruka[0]}
      textarea#poruka.form-control(placeholder = "#{poruka[0]}" rows = '6')
    when "Eng"
      label(for = "poruka") #{poruka[1]}
      textarea#poruka.form-control(placeholder = "#{poruka[1]}" rows = '6')
    when "Ger"
      label(for = "poruka") #{poruka[2]}
      textarea#poruka.form-control(placeholder = "#{poruka[2]}" rows = '6')
    when "Chn"
      label(for = "poruka") #{poruka[3]}
      textarea#poruka.form-control(placeholder = "#{poruka[3]}" rows = '6')
